<!DOCTYPE html>
<html>
    <head>
        {{ $title := site.Title }} {{ if not .IsHome }} {{ $title = printf "%s | %s" .Title site.Title }} {{ end }}
        <title>{{ $title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/main.css" />
        <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
        <script src="/js/vis_utilities.js"></script>
        <script src="/js/modal.js"></script>
        <script src="/js/submit_death.js"></script>
    </head>
    <body>
        <header class="page-header">{{ partial "sidebar.html" . }}</header>
        <main>{{ block "main" . }}{{ end }}</main>
        {{ partial "submit_death_modal.html" . }}
    </body>
</html>
