<nav>
    <ul class="player-menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="menu-heading">
        <h3>Seasons</h3>
      </li>
      <li>
        <a href="" title="Season 6"</a>
        <a href="" title="Season 7"</a>
      </li>
      <li class="menu-heading">
        <h3>Players</h3>
      </li>
      <li>
        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    <a id="submit-death-button" class="button submit-death" href="#" data-modal-trigger aria-controls="submit-death-modal" aria-expanded="false">Submit Death</a>
</nav>
