<section class="modal" id="submit-death-modal" data-modal-target>
    <div class="modal__overlay" data-modal-close tabindex="-1"></div>
    <div class="modal__wrapper">
    <div class="modal__header">
        <div class="modal__title">Submit Death</div>
        <button
        class="modal__close"
        data-modal-close
        aria-label="Close Modal"
        ></button>
    </div>
    <div class="modal__content">
      <form id="submit-death-form" class="form submit-death">
        <script>

          $(document).ready(function () {

          $('.form-div1').show();
          $('.form-div2').hide();

          $('#win').change(function () {
              $('.form-div2').toggle($(this).val() == "Yes");
          });

          });

        </script>

        <ul class="flex-outer">
          <li>
            <label for="date">Date</label>
            <input type="date" id="date" name="date"></input>
          </li>
          <li>
            <label for="name">Name</label>
            <select id="name" name="name" required>
                <option value="">Pick a name pum.</option>
                <option value="A Nice Tnetennba">A Nice Tnetennba</option>
                <option value="Boulderman94">Boulderman69</option>
                <option value="Ham08">Pum08</option>
                <option value="JellyBeanAndGone">JellyBeanAndGone</option>
                <option value="N00dleSu">N00dleSu</option>
                <option value="Rakdoz">Rakdoz</option>
            </select>
          </li>
          <div class='form-div1'>
            <li>
              <label for="win">Win</label>
              <select id="win" name="win" required>
                <option value="">Pick an option</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </li>
          </div>
          <div class="form-div2">
            <li>
              <label for="weaponname">Weapon Name</label>
              <select id="weaponname" name="weaponname">
                  <option value="AR">AR</option>
                  <option value="Bow">Bow</option>
                  <option value="Car">Car</option>
              </select>
            </li>
        </div>        
      </ul>
      <button type="submit">Submit</button>
    </form>
    <div class="hidden" id="death-form-result"></div>
    <br/>
      <p>
        <a class="button cancel" href="#" data-modal-close>Close</a>
      </p>
  </div>
  </div>
</section>
