{{ define "main" }}

<section class="page-content">
    <section class="grid">
    <article>
        <div id="vis">
            <script>renderSpec('totaldeaths.aa.json', 'vis', 500, 1300);</script>
        </div>
    </article>
    <article>
        <div id="vis1">
            <script>renderSpec('total_weaponname.aa.json', 'vis1', 500, 1300);</script>
        </div>
    </article>
    <article>
        <div id="vis2">
            <script>renderSpec('total_weaponcolor.aa.json', 'vis2', 500, 1300);</script>
        </div>
    </article>
    <article>
        <div id="vis3">
            <script>renderSpec('total_weapontype.aa.json', 'vis3', 500, 1300);</script>
        </div>
    </article>
    <article>
        <div id="vis4">
            <script>renderSpec('typeofbow.aa.json', 'vis4', 500, 1300);</script>
        </div>
    </article>
    <article>
        <div id="vis5">
            <script>renderSpec('totallocation.aa.json', 'vis5', 500, 1300);</script>
        </div>
    </article>
    <article>
        <div id="vis6">
            <script>renderSpec('timeline.aa.json', 'vis6', 500, 1300);</script>
        </div>
    </article>
    </section>
</section>

{{ end }}
