{{ define "main" }}

    <section class="page-content">
      <div class="main-container">
        <div class="heading-container">
          <h1 class="heading">Seasons Overview</h1>
        </div>
        <div class="card-container">
          <div class="card card-1">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">Most deadly weapon in Season 6 is Purple Pump Shotgun</h2>
          </div>
          <div class="card card-2">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">Most deadly weapon in Season 7 is ?</h2>
          </div>
          <div class="card card-3">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">Most deadly location in Season 6 is Pleasant Park</h2>
          </div>
          <div class="card card-4">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">Most deadly location in Season 7 is ?</h2>
          </div>
        </div>
      </div>
    </section>

  <footer>
   @ NoodleSu
  </footer>


{{ end }}
